<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ouchadam.auth">

  <uses-permission android:name="android.permission.INTERNET" />

  <application>

    <activity android:name=".OAuthSignInActivity" />

    <service
      android:name=".AccountService"
      android:exported="false">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator" />
      </intent-filter>
      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator" />
    </service>

  </application>

</manifest>
